/* Default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.box {
    background-color: rgb(255, 166, 0);
    min-height: 400px; /* Change height to min-height for responsiveness */
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.profile-img {
    height: 200px; /* Adjusted height */
    margin-top: 20px; /* Adjusted margin */
}

.Details {
    text-align: center;
}

.title {
    margin-top: 20px; /* Adjusted margin */
}

.boxBtn {
    background-color: #e8e8e8;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px; /* Added gap between buttons */
}

.btn {
    border-radius: 0;
    text-decoration: none;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    color: black;
    background-color: white;
}

@media (min-width: 768px) {
    /* Adjustments for medium-sized devices */
    .box {
        min-height: 500px;
    }
    
    .profile-img {
        height: 250px;
    }
    
    .title {
        margin-top: 50px;
    }
    
    .btn {
        margin-top: 20px;
    }
}

@media (min-width: 992px) {
    /* Adjustments for large-sized devices */
    .box {
        min-height: 600px;
    }
    
    .profile-img {
        height: 300px;
    }
    
    .title {
        margin-top: 100px;
    }
    
    .btn {
        margin-top: 40px;
    }
}

